In [63]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = 'all' #默认为'last'

<div class="jumbotron">
    <p class="h1 display-1">Pandas使用基础</p>
    <hr class="my-4">
    <p>主讲：李岩</p>
    <p>管理学院</p>
    <p>liyan@cumtb.edu.cn</p>
</div>

# 什么是Pandas？

- 是从Panel Data而来的

- 一款开放源码的Python库，为Python编程语言提供了高性能，易于使用的数据结构和数据分析工具

- 使用Pandas可以完成数据处理和分析的五个典型步骤，而不用管数据来源

## 数据处理与分析的典型步骤

- 加载

- 准备

- 操作

- 建模

- 分析

```python
    import pandas as pd
```

## 数据来源

### 文本数据

- txt, csv：以逗号分隔的数据

# 数据结构

- Series
- DataFrame

## Series：一维的带标签（label）的数组

- 可以包含任何类型的数据，例如整型、字符串、浮点数、python对象等

- 标签的集合被称为索引（index）

|数据|9|3|8|
|---|---|---|---|
|索引|0|1|2|

-  s = pd.Series(data, index=index)
- data可以是列表、字典、单个数值等

### 由列表（list）生成

In [12]:
s = pd.Series([100, 'python', 'soochow', 'qiwsir'])
type(s)
s

pandas.core.series.Series

0        100
1     python
2    soochow
3     qiwsir
dtype: object

- 获得Series的数据值

In [5]:
s.values

array([100, 'python', 'soochow', 'qiwsir'], dtype=object)

### 由列表（list）生成
- 获得Series的索引

In [6]:
s.index

RangeIndex(start=0, stop=4, step=1)

- 自定义索引

In [14]:
s = pd.Series([100, 'python', 'soochow', 'qiwsir'], index=['mark', 'little', 'university', 'name'])

In [17]:
s
s['mark']

mark              100
little         python
university    soochow
name           qiwsir
dtype: object

100

In [9]:
s['mark']

100

### 由字典（dict）生成

In [19]:
s = pd.Series({'python': 8000, 'C++': 4100, 'C#': 4000})
s.index

Index(['python', 'C++', 'C#'], dtype='object')

- 同样可以自定义索引。如果自定义了索引，新索引会自动寻找原来的索引，如果一样的，就取原来索引对应的数据值

In [11]:
s = pd.Series({'python': 8000, 'C++': 4100, 'C#': 4000}, index =['java', 'python', 'C++', 'C#'])
s

java         NaN
python    8000.0
C++       4100.0
C#        4000.0
dtype: float64

### 由单一数值生成

- <span class="mark">必须提供index</span>，单一数值将会重复索引长度那么多次数

In [23]:
s = pd.Series(5,index=range(100))
s

0     5
1     5
2     5
3     5
4     5
     ..
95    5
96    5
97    5
98    5
99    5
Length: 100, dtype: int64

## DataFrame：二维的带标签的数据结构

- 类似于excel或者sql的数据表

![dataframeEg](./img/python/dataframe.png)

- 横行标签被称为Index，竖列标签被称为columns

- DataFrame可以由多种类型的数据生成，包括列表、字典、Series、二维矩阵表、其他的DataFrame等

### 由dict of series生成

In [24]:
data = {
    'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
    'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])
}
d1 = pd.DataFrame(data)
d1

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

### 由dict of lists生成

In [25]:
data = {
    "name": ["yahoo","google","facebook"], 
    "marks": [200,400,800], 
    "price": [9, 3, 7]
}
d1= pd.DataFrame(data)
d1

       name  marks  price
0     yahoo    200      9
1    google    400      3
2  facebook    800      7

字典的“键”（"name"，"marks"，"price"）就是 DataFrame 的 columns 的值（名称），字典中每个“键”的“值”是一个列表，它们就是那一竖列中的具体填充数据。上面的定义中没有确定索引，所以，按照惯例（Series 中已经形成的惯例）就是从 0 开始的整数。

In [26]:
d2 = pd.DataFrame(data, columns=['name', 'price', 'marks', 'debt'], index=['a','b','c'])
d2

       name  price  marks debt
a     yahoo      9    200  NaN
b    google      3    400  NaN
c  facebook      7    800  NaN

### 由dict of dicts生成

In [16]:
newData = {
    "lang":{
        "firstline":"python",
        "secondline":"java"
    },
    "price":{
        "firstline":8000
    }
}
d3 = pd.DataFrame(newData)

在字典中就规定好数列名称（第一层键）和每横行索引（第二层字典键）以及对应的数据（第二层字典值），也就是在字典中规定好了每个数据格子中的数据，没有规定的都是空。

In [17]:
newData = {
    ('a', 'b'): {
        ('A', 'B'): 1,
        ('A', 'C'): 2
    },
    ('a', 'a'): {
        ('A', 'C'): 3, 
        ('A', 'B'): 4
    },
    ('a', 'c'): {
        ('A', 'B'): 5, 
        ('A', 'C'): 6
    },
    ('b', 'a'): {
        ('A', 'C'): 7, 
        ('A', 'B'): 8
    },
    ('b', 'b'): {
        ('A', 'D'): 9, 
        ('A', 'B'): 10
    }
}
d3 = pd.DataFrame(newData)
d3

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

## 数据引用

### 列的选择、添加和删除

In [28]:
df = pd.DataFrame({'one': [1., 2., 3., 4.], 'two': [4., 3., 2., 1.]})
df

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

- 选择列

In [29]:
df['two']

0    4.0
1    3.0
2    2.0
3    1.0
Name: two, dtype: float64

- 添加列

In [31]:
df['three'] = df['one'] * df['two']
df

   one  two  three
0  1.0  4.0    4.0
1  2.0  3.0    6.0
2  3.0  2.0    6.0
3  4.0  1.0    4.0

In [32]:
df['flag'] = df['one'] > 2
df

   one  two  three   flag
0  1.0  4.0    4.0  False
1  2.0  3.0    6.0  False
2  3.0  2.0    6.0   True
3  4.0  1.0    4.0   True

In [33]:
df['foo'] = 'bar'
df

   one  two  three   flag  foo
0  1.0  4.0    4.0  False  bar
1  2.0  3.0    6.0  False  bar
2  3.0  2.0    6.0   True  bar
3  4.0  1.0    4.0   True  bar

- 删除列

In [34]:
del df['foo']
df

   one  two  three   flag
0  1.0  4.0    4.0  False
1  2.0  3.0    6.0  False
2  3.0  2.0    6.0   True
3  4.0  1.0    4.0   True

In [35]:
three = df.pop('three')
print(df)
print(three)

   one  two   flag
0  1.0  4.0  False
1  2.0  3.0  False
2  3.0  2.0   True
3  4.0  1.0   True
0    4.0
1    6.0
2    6.0
3    4.0
Name: three, dtype: float64

### 索引与选择

|操作|表达|结果|
|---|---|---|
|选择列|df[col]|数组（series）|
|用标签选择行|df.loc[label]|数组（series）|
|用位置选择行|df.iloc[loc]|数组（series）|
|行切片|df[5:10]|数据框（dataframe）|

In [37]:
locDf = pd.DataFrame([[1, 2], [4, 5], [7, 8]], index=['cobra', 'viper', 'sidewinder'], columns=['max_speed', 'shield'])
locDf

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [44]:
# locDf.loc['cobra']
# locDf.loc[['cobra','sidewinder']]
# locDf.loc['cobra':'sidewinder']
# locDf.loc[locDf['shield']>6]
# locDf.loc[(locDf['max_speed']>=4) & (locDf['shield']>5)]       # 逻辑与用&，每个条件用（）包围
locDf.loc[(locDf['max_speed']!=4) | (locDf['shield']>5)]       # 逻辑或用|

            max_speed  shield
cobra               1       2
sidewinder          7       8

In [48]:
# locDf.iloc[1]
# locDf.iloc[[0,2]]
# locDf.iloc[0:2]
locDf.iloc[:]

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

<p class="h3"><strong><code>df.iloc[<span class="bg-primary">行位置</span>，<span class="bg-danger">列位置</span>]</code></strong></p>
<p class="h3"><strong><code>df.loc[<span class="bg-primary">行标签</span>，<span class="bg-danger">列名</span>]</code></strong></p>

In [53]:
# locDf.iloc[1,1]           # 取某个具体的值
# locDf.iloc[[0,2],[0,1]]   # 用列表选取指定的行与列构成的DataFrame
# locDf.iloc[1:3,0:2]       # 用切片选取指定的行与列构成的DataFrame
# locDf.iloc[1:3,[0,1]]     # 切片与列表搭配选择DataFrame
locDf.iloc[[0,2],0:2]     # 切片与列表搭配选择DataFrame

            max_speed  shield
cobra               1       2
sidewinder          7       8

In [29]:
dfbkidx = dfbk.copy()
dfbkidx.index = ['alpha','beta','gamma','delta']

NameError: name 'dfbk' is not defined

In [62]:
# locDf.loc['viper','max_speed']                                # 取具体单元格值
# locDf.loc[['viper','sidewinder'],['max_speed','shield']]      # 用列表选取指定的行与列构成的DataFrame
# locDf.loc['cobra':'sidewinder','max_speed':'shield']                 # 用标签切片选取指定的行与列构成的DataFrame
# locDf.loc['cobra':'viper','shield']               # 用标签切片选行，用列表选列，构成DataFrame
# locDf.loc[locDf['max_speed']==4,['max_speed','shield']]      # 用逻辑判断选行，用列表选列，构成DataFrame
# locDf.loc[(locDf['max_speed']>=2) & (locDf['shield']<8),:]      # 用逻辑判断选行，用列表选列，构成DataFrame
locDf.iloc[0,0]

1

## 数据读取与存储

### 读取与存储`.csv`文件

```python
pd.read_csv('path_to_file.csv')
```
- `'path_to_file.csv`：要打开的`.csv`文件的完整路径
- 返回`DataFrame`对象

In [2]:
titDf = pd.read_csv('./data/models/train.csv')
type(titDf)

pandas.core.frame.DataFrame

In [3]:
titDf

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

```python
df.to_csv('path_to_file.csv', index=True)
```
- `'path_to_file.csv'`：保存的以`.csv`结尾的文件的完整路径
- `index`：是否把行索引写入到`.csv`文件中，默认是写入

In [4]:
titDf.iloc[1:10].to_csv('./data/python/titSample.csv')

## 查看`DataFrame`信息

### 查看数据的头和尾

```python
df.head([n=5])
df.tail([n=5])
```
- `n`：显示的行数，默认是5

In [5]:
titDf.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 查看数据的行索引与列名

```python
df.index          # 行索引
df.columns         # 列名
```

In [7]:
titDf.index
titDf.columns

RangeIndex(start=0, stop=891, step=1)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### 查看数据的维度

```python
df.shape
```
- 返回一个元组包含2个元素，第一是数据的行数，第二个是数据列数

In [8]:
titDf.shape

(891, 12)

### 查看每列数据的类型

```python
df.dtypes
```

In [9]:
titDf.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

## 探索时间序列数据

<center><img src="../data-mining/img/analysis/apple.jpg" width=50%></center>

### 读取数据

In [36]:
appleDf = pd.read_csv('./data/analysis/Apple_stock.csv')
appleDf.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### 查看每列数据类型

In [37]:
appleDf.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

### 将`Date`列转换为`datetime`类型

In [38]:
appleDf['Date'] = pd.to_datetime(appleDf['Date'], format='%Y-%m-%d')
appleDf.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Volume                int64
Adj Close           float64
dtype: object

```python
pandas.to_datetime(arg, fmt)
```
- `arg`：需要被转换成时间类型的原数据
- `fmt`：时间格式，例如`%Y-%m-%d %H:%M:%S`
- 返回的是一个`datetime`数据类型

In [39]:
pd.to_datetime('now')

Timestamp('2020-11-14 15:33:03.604807')

In [40]:
pd.to_datetime('today')

Timestamp('2020-11-14 23:33:03.631653')

In [41]:
pd.to_datetime('2019 12 24 15:15:50')
pd.to_datetime('2019-12-24 15:15:50')
pd.to_datetime('2019/12/24 15:15:50')
pd.to_datetime('12/6/2019 15:15:50')
pd.to_datetime('2019-12-24')
pd.to_datetime('2019-12')
pd.to_datetime('2019')

Timestamp('2019-12-24 15:15:50')

Timestamp('2019-12-24 15:15:50')

Timestamp('2019-12-24 15:15:50')

Timestamp('2019-12-06 15:15:50')

Timestamp('2019-12-24 00:00:00')

Timestamp('2019-12-01 00:00:00')

Timestamp('2019-01-01 00:00:00')

### 将`Date`设置为索引

In [42]:
appleDf.set_index('Date',inplace=True)
appleDf.head()

             Open   High    Low  Close    Volume  Adj Close
Date
2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### 将`index`设置为升序

In [43]:
appleDf.sort_index(ascending=True,inplace=True)
appleDf.head()

             Open   High    Low  Close     Volume  Adj Close
Date
1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45
1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41

### 找到每个月的最后一个交易日

In [44]:
monthLastDay = appleDf.resample('BM')
monthLastDay.last()

              Open    High     Low   Close     Volume  Adj Close
Date
1980-12-31   34.25   34.25   34.13   34.13    8937600       0.53
1981-01-30   28.50   28.50   28.25   28.25   11547200       0.44
1981-02-27   26.50   26.75   26.50   26.50    3690400       0.41
1981-03-31   24.75   24.75   24.50   24.50    3998400       0.38
1981-04-30   28.38   28.62   28.38   28.38    3152800       0.44
...            ...     ...     ...     ...        ...        ...
2014-03-31  539.23  540.81  535.93  536.74   42167300      76.25
2014-04-30  592.64  599.43  589.80  590.09  114160200      83.83
2014-05-30  637.98  644.17  628.90  633.00  141005200      90.43
2014-06-30   92.10   93.73   92.09   92.93   49482300      92.93
2014-07-31   96.27   96.80   93.92   95.35   65130000      95.35

[404 rows x 6 columns]

#### `resample`函数
```python
DataFrame.resample(rule, axis=0)
```
- `rule`：字符串表示的采样频率
    + `D`：自然天
    + `T/min`：分钟
    + `S`：秒
    + `B`：工作日
    + `M`：月底
    + `BM`：工作月底

#### 数据集中最早的日期和最晚的日期相差多少天？

In [45]:
diff = appleDf.index.max()-appleDf.index.min()
diff

Timedelta('12261 days 00:00:00')

### 时间差的使用

- `Timedelta`：`pandas`的时间差对象
    + `Timedelta.days`：时间差内包含的天数
    + `Timedelta.total_seconds()`：时间差内包含的总秒数

In [46]:
diff.days
diff.total_seconds()

12261

1059350400.0

- 生成时间差对象
```python
pd.to_timedelta(arg)
```
    + `arg`：需要转换成`Timedelta`类型的数据
    + 返回的是`Timedelta`对象

In [47]:
pd.to_timedelta('1 days')
pd.to_timedelta('1 days 06:05:01')
pd.to_datetime('today')+pd.to_timedelta('1 days')

Timedelta('1 days 00:00:00')

Timedelta('1 days 06:05:01')

Timestamp('2020-11-15 23:33:04.487392')

### 在数据中一共有多少个月？

In [48]:
monthLastDay.first().shape[0]

404